*,
*::before,
*::after {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roundedWhite {
    height: 50px;
    width: 50px;
    border-radius: 50% 50%;
    background-color: #ffffff;
}

body {
    background-color: #f3f6ff;
}

.header {
    height: 100px;
    background: linear-gradient(180deg, #0336E9 0%, #1837A5 100%);
    background: -webkit-linear-gradient(180deg, #0336E9 0%, #1837A5 100%);
    background: -moz-linear-gradient(180deg, #0336E9 0%, #1837A5 100%);
    background: -o-linear-gradient(180deg, #0336E9 0%, #1837A5 100%);
}

.c-container {
    height: 120px;
}

li {
    list-style-type: none;
}

.dbfont {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.navfont {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.footerfont {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.col>ul>li {
    color: #ABA4A4;
}

.card {
    border: none !important;
}


.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    transition: background-color 0.3s ease;
}


.carousel-indicators .active {
    background-color: #007bff;
}

.carousel-indicators button:hover {
    background-color: #ffffff;
}

.baseColor {
    background: linear-gradient(180deg, #0336E9 0%, #1837A5 100%);
    background: -webkit-linear-gradient(180deg, #0336E9 0%, #1837A5 100%);
    background: -moz-linear-gradient(180deg, #0336E9 0%, #1837A5 100%);
    background: -o-linear-gradient(180deg, #0336E9 0%, #1837A5 100%);
    color: #ffffff;
}

.inputBox {
    border: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(180deg, #0336E9, #1837A5) 1;
    outline: none;
}

.asterick{
    color: red;font-weight: bold;font-size: 20px;
}

/* progress bar code starting */
.progress {
    background: none;
    justify-content: space-between !important;
    height: 120px;
}

.pogress-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: transparent;
}

.pogress-circle-color {
    border: 2px solid #0336E9;
    color: #0336E9;
}

.pogress-circle-normal {
    border: 2px solid #ABA4A4;
    color: #ABA4A4;
}

.progress-line {
    flex-grow: 1;
    height: 4px;
    margin-top: 4px;
}

.progress-line-color {
    border-top: 2px dotted #0336E9;
}

.progress-line-normal {
    border-top: 2px dotted #ABA4A4;
}

.progress-text {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.circle-text {
    text-align: center;
}

@media (max-width: 767px) {
    .circle-text {
        display: none;
    }
}

@media (min-width: 768px) {
    #showText{
        margin-top: -45px;
    }
}

/* scrolling css code */
.scroll-container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.scroll-button {
    color:  #0336E9 ;
    border-radius: 80%;
    padding: 10px 10px;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.horizontal-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px 0;
    scrollbar-width: none;
}

.horizontal-list::-webkit-scrollbar {
    display: none;
}

.list-item {
    min-width: 100px;
    padding: 15px;
    margin: 30px;
    background: #F3F7FA;
    color: #000000;
    text-align: center;
    border-radius: 8px;
    flex-shrink: 0;
    transition: transform 0.2s;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}

.list-item:hover {
    transform: scale(1.05);
}